<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="indi.crisp.mylin.dao.LeaveDAO">

	<select id="findLeaveByID" resultType="indi.crisp.mylin.pojo.Leave">
		SELECT vid, vto, vend, vtype, vstatus, vtime, vstart, vcheck, vfrom, vreason FROM tblleave WHERE vid = #{vid}
	</select>

	<select id="findLeaveList" resultType="indi.crisp.mylin.pojo.Leave">
		SELECT vid, vto, vend, vtype, vstatus, vtime, vstart, vcheck, vfrom, vreason FROM tblleave LIMIT #{start}, #{count}
	</select>

	<insert id="insertLeave" parameterType="indi.crisp.mylin.pojo.Leave">
		INSERT INTO tblleave (vto, vend, vtype, vstatus, vtime, vstart, vcheck, vfrom, vreason) values (#{leave.vto}, #{leave.vend}, #{leave.vtype}, #{leave.vstatus}, #{leave.vtime}, #{leave.vstart}, #{leave.vcheck}, #{leave.vfrom}, #{leave.vreason})
	</insert>

	<update id="updateLeave" parameterType="indi.crisp.mylin.pojo.Leave">
		UPDATE tblleave SET  vto = #{leave.vto}, vend = #{leave.vend}, vtype = #{leave.vtype}, vstatus = #{leave.vstatus}, vtime = #{leave.vtime}, vstart = #{leave.vstart}, vcheck = #{leave.vcheck}, vfrom = #{leave.vfrom}, vreason = #{leave.vreason} WHERE vid = #{leave.vid}
	</update>

	<update id="updateLeaveAuto" parameterType="indi.crisp.mylin.pojo.Leave">
		UPDATE tblleave
		<trim prefix="SET" suffixOverrides=",">
			<if test="leave.vto != null">
				vto = #{leave.vto},
			</if>

			<if test="leave.vend != null">
				vend = #{leave.vend},
			</if>

			<if test="leave.vtype != null">
				vtype = #{leave.vtype},
			</if>

			<if test="leave.vstatus != null">
				vstatus = #{leave.vstatus},
			</if>

			<if test="leave.vtime != null">
				vtime = #{leave.vtime},
			</if>

			<if test="leave.vstart != null">
				vstart = #{leave.vstart},
			</if>

			<if test="leave.vcheck != null">
				vcheck = #{leave.vcheck},
			</if>

			<if test="leave.vfrom != null">
				vfrom = #{leave.vfrom},
			</if>

			<if test="leave.vreason != null">
				vreason = #{leave.vreason},
			</if>

		</trim>
		WHERE vid = #{leave.vid}
	</update>

	<delete id="deleteLeave">
		DELETE FROM tblleave WHERE vid = #{vid}
	</delete>

	<select id="countAll" resultType="java.lang.Integer">
		SELECT COUNT(vid) FROM tblleave;
	</select>

	<select id="findEmpIdList" resultType="indi.crisp.mylin.pojo.Leave">
		SELECT vid, vfrom, vreason, vstart, vend, vtime, vtype, vstatus, vto, vcheck
		FROM tblleave
		WHERE vfrom = #{eid}
		ORDER BY vtime ASC
		LIMIT #{start}, #{count};
	</select>

	<select id="findDeptLeave" resultType="indi.crisp.mylin.pojo.Leave">
		SELECT vid, vfrom, vreason, vstart, vend, vtime, vtype, vstatus, vto, vcheck
		FROM ((tbldept INNER JOIN tblemployee ON dno = tblemployee.edept) JOIN tblleave ON vfrom = tblemployee.empno)
		WHERE dno = #{did}
		ORDER BY vtime ASC
		LIMIT #{start}, #{count};
	</select>

	<select id="findToId" resultType="indi.crisp.mylin.pojo.Leave">
		SELECT vid, vfrom, vreason, vstart, vend, vtime, vtype, vstatus, vto, vcheck
		FROM tblleave
		WHERE vto = #{tid}
		ORDER BY vtime ASC
		LIMIT 0, 10;
	</select>

</mapper>
