<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="indi.crisp.mylin.dao.NotifyDAO">

	<select id="findNotifyByID" resultType="indi.crisp.mylin.pojo.Notify">
		SELECT ninfo, nfrom, nid, nto, nstatus, ntype, ntime FROM tblnotify WHERE nid = #{nid}
	</select>

	<select id="findNotifyList" resultType="indi.crisp.mylin.pojo.Notify">
		SELECT ninfo, nfrom, nid, nto, nstatus, ntype, ntime FROM tblnotify LIMIT #{start}, #{count}
	</select>

	<insert id="insertNotify" parameterType="indi.crisp.mylin.pojo.Notify">
		INSERT INTO tblnotify (ninfo, nfrom, nto, nstatus, ntype, ntime) values (#{notify.ninfo}, #{notify.nfrom}, #{notify.nto}, #{notify.nstatus}, #{notify.ntype}, #{notify.ntime})
	</insert>

	<update id="updateNotify" parameterType="indi.crisp.mylin.pojo.Notify">
		UPDATE tblnotify SET  ninfo = #{notify.ninfo}, nfrom = #{notify.nfrom}, nto = #{notify.nto}, nstatus = #{notify.nstatus}, ntype = #{notify.ntype}, ntime = #{notify.ntime} WHERE nid = #{notify.nid}
	</update>

	<update id="updateNotifyAuto" parameterType="indi.crisp.mylin.pojo.Notify">
		UPDATE tblnotify
		<trim prefix="SET" suffixOverrides=",">
			<if test="notify.ninfo != null">
				ninfo = #{notify.ninfo},
			</if>

			<if test="notify.nfrom != null">
				nfrom = #{notify.nfrom},
			</if>

			<if test="notify.nto != null">
				nto = #{notify.nto},
			</if>

			<if test="notify.nstatus != null">
				nstatus = #{notify.nstatus},
			</if>

			<if test="notify.ntype != null">
				ntype = #{notify.ntype},
			</if>

			<if test="notify.ntime != null">
				ntime = #{notify.ntime},
			</if>

		</trim>
		WHERE nid = #{notify.nid}
	</update>

	<delete id="deleteNotify">
		DELETE FROM tblnotify WHERE nid = #{nid}
	</delete>

	<select id="countAll" resultType="java.lang.Integer">
		SELECT COUNT(nid) FROM tblnotify;
	</select>

	<select id="findByEmpID" resultType="indi.crisp.mylin.pojo.Notify">
		SELECT nid, nfrom, nto, ninfo, ntime, ntype, nstatus
		FROM tblnotify
		WHERE nfrom = #{fid} AND nto = #{tid}
		ORDER BY ntime DESC
		LIMIT #{start}, #{count};
	</select>

</mapper>
