<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="indi.crisp.mylin.dao.RemarkDAO">

	<select id="findRemarkByID" resultType="indi.crisp.mylin.pojo.Remark">
		SELECT ktime, kid, kinfo, kemp FROM tblremark WHERE kid = #{kid}
	</select>

	<select id="findRemarkList" resultType="indi.crisp.mylin.pojo.Remark">
		SELECT ktime, kid, kinfo, kemp FROM tblremark LIMIT #{start}, #{count}
	</select>

	<insert id="insertRemark" parameterType="indi.crisp.mylin.pojo.Remark">
		INSERT INTO tblremark (ktime, kinfo, kemp) values (#{remark.ktime}, #{remark.kinfo}, #{remark.kemp})
	</insert>

	<update id="updateRemark" parameterType="indi.crisp.mylin.pojo.Remark">
		UPDATE tblremark SET  ktime = #{remark.ktime}, kinfo = #{remark.kinfo}, kemp = #{remark.kemp} WHERE kid = #{remark.kid}
	</update>

	<update id="updateRemarkAuto" parameterType="indi.crisp.mylin.pojo.Remark">
		UPDATE tblremark
		<trim prefix="SET" suffixOverrides=",">
			<if test="remark.ktime != null">
				ktime = #{remark.ktime},
			</if>

			<if test="remark.kinfo != null">
				kinfo = #{remark.kinfo},
			</if>

			<if test="remark.kemp != null">
				kemp = #{remark.kemp},
			</if>

		</trim>
		WHERE kid = #{remark.kid}
	</update>

	<delete id="deleteRemark">
		DELETE FROM tblremark WHERE kid = #{kid}
	</delete>

	<select id="countAll" resultType="java.lang.Integer">
		SELECT COUNT(kid) FROM tblremark;
	</select>

	<!-- 查看某个员工的便签 -->
	<select id="findRemarkByEid" resultType="indi.crisp.mylin.pojo.Remark">
		SELECT ktime, kid, kinfo, kemp
		FROM tblremark
		WHERE kemp = #{eid}
		LIMIT #{start}, #{count};
	</select>

</mapper>
