<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="logImpl" value="STDOUT_LOGGING"/>
	</settings>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/lin"/>
				<property name="username" value="root"/>
				<property name="password" value="root"/>
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mappers/DeptMapper.xml"></mapper>
		<mapper resource="mappers/DictMapper.xml"></mapper>
		<mapper resource="mappers/EmployeeMapper.xml"></mapper>
		<mapper resource="mappers/LeaveMapper.xml"></mapper>
		<mapper resource="mappers/LogMapper.xml"></mapper>
		<mapper resource="mappers/NotifyMapper.xml"></mapper>
		<mapper resource="mappers/PermMapper.xml"></mapper>
		<mapper resource="mappers/RemarkMapper.xml"></mapper>
		<mapper resource="mappers/RoleMapper.xml"></mapper>
		<mapper resource="mappers/RolepermMapper.xml"></mapper>

	</mappers>

</configuration>