<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="indi.crisp.mylin.dao.DeptDAO">

	<select id="findDeptByID" resultType="indi.crisp.mylin.pojo.Dept">
		SELECT dno, dcreate, ddesc, dstatus, dname, dhost FROM tbldept WHERE dno = #{dno}
	</select>

	<select id="findDeptList" resultType="indi.crisp.mylin.pojo.Dept">
		SELECT dno, dcreate, ddesc, dstatus, dname, dhost FROM tbldept LIMIT #{start}, #{count}
	</select>

	<insert id="insertDept" parameterType="indi.crisp.mylin.pojo.Dept">
		INSERT INTO tbldept (dcreate, ddesc, dstatus, dname, dhost) values (#{dept.dcreate}, #{dept.ddesc}, #{dept.dstatus}, #{dept.dname}, #{dept.dhost})
	</insert>

	<update id="updateDept" parameterType="indi.crisp.mylin.pojo.Dept">
		UPDATE tbldept SET  dcreate = #{dept.dcreate}, ddesc = #{dept.ddesc}, dstatus = #{dept.dstatus}, dname = #{dept.dname}, dhost = #{dept.dhost} WHERE dno = #{dept.dno}
	</update>

	<update id="updateDeptAuto" parameterType="indi.crisp.mylin.pojo.Dept">
		UPDATE tbldept
		<trim prefix="SET" suffixOverrides=",">
			<if test="dept.dcreate != null">
				dcreate = #{dept.dcreate},
			</if>

			<if test="dept.ddesc != null">
				ddesc = #{dept.ddesc},
			</if>

			<if test="dept.dstatus != null">
				dstatus = #{dept.dstatus},
			</if>

			<if test="dept.dname != null">
				dname = #{dept.dname},
			</if>

			<if test="dept.dhost != null">
				dhost = #{dept.dhost},
			</if>

		</trim>
		WHERE dno = #{dept.dno}
	</update>

	<delete id="deleteDept">
		DELETE FROM tbldept WHERE dno = #{dno}
	</delete>

	<select id="countAll" resultType="java.lang.Integer">
		SELECT COUNT(dno) FROM tbldept;
	</select>

</mapper>
